.ui-datepicker{
    z-index: 9999999!important;
}
.fa-required{
    display: block;
}
.fa-required em{
    font-size: 75%;
}
.event-content-cat-area{
    max-height: 200px;
    overflow: auto;
}
.event-content-cat-item{
    height: 30px;
    overflow: hidden;
}
.text-strong{
    font-weight: 700;
}